[core]
	editor = vim
	excludesfile = /Users/kirk/.gitignore_global
[user]
	name = Kirk Hendrick
	email = hendrick.kirk@gmail.com
[credential]
	helper = osxkeychain
[commit]
	template = /Users/kirk/.stCommitMsg
